<nav class="navbar">
  <div class="page-container navbar-content">
    <div class="navbar-brand">
      <a class="navbar-logo" href="#">Cookee</a>
    </div>

    <div class="navbar-menu">
      <a class="navbar-link" routerLink="/login">Feed</a>
      <a class="navbar-link" routerLink="/register">Recipes</a>
      <a class="navbar-link">Messages</a>
    </div>

    <div class="navbar-actions">
      <button class="btn btn-outline" routerLink="/login">Log in</button>
      <button class="btn btn-primary" routerLink="/register">Sign up</button>
    </div>
  </div>
</nav>
