<section class="home-page">
  <div class="page-container">
    <div class="card-base home-hero">
      <h1 class="title-section">
        Bienvenido a <span class="title-highlight">Cookee</span>
      </h1>

      <p class="home-text">
        Descubre recetas, comparte platos y conecta con otros foodies 🍝
      </p>

      <div class="home-actions">
        <button class="btn btn-primary" routerLink="/register">
          Crear cuenta
        </button>

        <button class="btn btn-outline" routerLink="/login">
          Iniciar sesión
        </button>
      </div>
    </div>
  </div>
</section>
