<h1>Login</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div>
    <label>Email</label>
    <input type="email" formControlName="email">

    @if (loginForm.get('email')?.touched) {
    @if (loginForm.get('email')?.errors?.['required']) {
    <p>El email es obligatorio</p>
    }
    @if (loginForm.get('email')?.errors?.['email']) {
    <p>Email no válido</p>
    }
    }
  </div>

  <div>
    <label>Password</label>
    <input type="password" formControlName="password">

    @if (loginForm.get('password')?.touched) {
    @if (loginForm.get('password')?.errors?.['required']) {
    <p>La contraseña es obligatoria</p>
    }
    @if (loginForm.get('password')?.errors?.['minlength']) {
    <p>Mínimo 6 caracteres</p>
    }
    @if (loginForm.get('password')?.errors?.['notOnlyWhiteSpace']) {
    <p>No puede ser solo espacios</p>
    }
    }
  </div>

  <button type="submit">Iniciar sesión</button>

</form>
